* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ========================common===================== */
.container {
  margin: 0 auto;
  max-width: calc(100% - 48px);
  width: 1440px;
}

a {
  text-decoration: none;
}

/* ========================header==================== */
.header {
  padding-top: 32px;
  min-height: 100vh;
  background: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  padding: 8px 21px;
  color: #535252;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.2s;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #000;
  position: relative;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  left: 10px;
  top: 18px;
  position: absolute;
}

.action__icon {
  padding: 8px 12px;
}

.action__icon--img {
  transition: 0.2s;
}

.action__icon--img:hover {
  scale: 1.1;
}
