* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ========================common===================== */
.container {
  margin: 0 auto;
  max-width: calc(100% - 48px);
  width: 1440px;
}

a {
  text-decoration: none;
}

/* ========================header==================== */
.header {
  padding-top: 32px;
  min-height: 100vh;
  background: #fff;
}

.header-top {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-left: 151px;
}

.navbar__list {
  margin-left: 120px;
  display: flex;
}

.navbar__link {
  padding: 8px 21px;
  color: #535252;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.2s;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #000;
  position: relative;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  left: 10px;
  top: 18px;
  position: absolute;
}

.action {
  margin-left: 110px;
}

.action__icon {
  padding: 8px 12px;
}

.action__icon--img {
  transition: 0.2s;
}

.action__icon--img:hover {
  scale: 1.1;
}

/* ===================hero======================= */
.hero {
  display: flex;
  margin-top: 33px;
  align-items: center;
  background: #ffd322;
}

.hero__media {
  flex: 1;
}

.hero__image--img {
  /* dùng display block để loại bỏ khoảng trắng thừa dưới chân do thẻ img */
  display: block;
  width: 100%;
  object-fit: cover;
}

.hero__content {
  flex: 1;
  margin-left: 43px;
}

.hero__summary {
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.33; /* 333.333% */
  text-transform: uppercase;
}

.hero__heading {
  max-width: 528px;
  margin-top: 22px;
  color: #000;
  font-size: 9.6rem;
  font-weight: 400;
}

.hero__desc {
  margin-top: 31px;
  max-width: 470px;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
}

.hero__btn {
  margin-top: 64px;
  width: 462px;
  height: 96px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.hero__btn:hover {
  scale: 1.1;
}

.hero__content--dot {
  display: flex;
  color: #fff;
  justify-content: center;
  margin-top: 64px;
  gap: 15px;
}

.hero__content--subDot {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero__content--subDot-active {
  color: #000;
}
